server {
    listen 80;
    server_name HOSTNAME;
    # server_name www.HOSTNAME;
    root /mnt/d/Workspace/Webdir/HOSTNAME/public;

    include server.d/server.conf;
    include server.d/static.conf;

    # redirect to non-www
    if ( $host ~ ^www\.(?<domain>.+)$ ) {
        return 301 $scheme://$domain$request_uri;
    }

    add_header X-Robots-Tag "noindex, nofollow, nosnippet, noarchive";
    location / { try_files $uri $uri/ /index.php$is_args$args; }
    location ~ \.php(/|$) {
        fastcgi_pass 127.0.0.1:9072;
        include server.d/phpfpm.conf;
        fastcgi_buffering off;
    }
}