server {
    listen 80;
    server_name HOSTNAME;

    root /mnt/d/Workspace/Webdir/HOSTNAME;
    include server.d/restrictions.conf;

    location / {
        proxy_buffering off;
        proxy_hide_header X-Powered-By;
        include server.d/param-proxy.conf;
        proxy_pass http://127.0.0.1:APP_PORT;
    }
}
