server {
    listen 80;
    server_name HOSTNAME;
    root /mnt/d/Workspace/Webdir/HOSTNAME/public;

    include server.d/restrictions.conf;
    include server.d/static-control.conf;

    location / {
        try_files $uri $uri/ /index.php$is_args$args;
    }

    location ~ \.php(/|$) {
        include server.d/param-fpm.conf;
        fastcgi_pass 127.0.0.1:9072;
        fastcgi_buffering off;
    }
}